html {
    font-size: 14px;
}

.container {
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    outline: 6px solid #000;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 8fr;
    grid-template-rows: 25% 25% 25% auto;
    grid-template-areas: 
    "b2 b3 b3 b3 b3"
    "b2 b3 b3 b3 b3"
    "b2 b3 b3 b3 b3"
    "b1 b1 b1 b1 b4";
    // grid-template-areas: 
    // "b2 b3 b3 b3 b3"
    // "b2 b3 b3 b3 b3"
    // "b2 b3 b3 b3 b3"
    // "b1 b1 b1 . b4";
    //錯誤的
    // grid-template-areas: 
    // "b1 b1 b1 b1"
    // "b2 b3 b3 b3"
    // "b2 b3 b3 b3"
    // "b2 b3 b3 b3";
    font-size: 2rem;
    font-weight: 600;
    grid-gap: 1rem;
}
.item {
    outline: 0.25rem solid rgb(50, 50, 255);
    &-a {
        grid-area: b1;
        background: #fa0;
        
    }
    &-b {
        grid-area: b2;
        background: #0fa;
    }
    &-c {
        grid-area: b3;
        background: #a0f;
    }
    &-d {
        grid-area: b4;
        background: #a00;
    }
}

.content {
    margin-bottom: 50px;
    box-sizing: border-box;
    margin-top: 10vh;
    width: 100%;
    height: 800px;
    outline: 6px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% auto;
    grid-template-areas: 
    "a2 a2 a2 a2"
    ".  .  .  ."
    "a1 a1 a3 a3"
    "a1 a1 a3 a3";
    font-size: 2rem;
    font-weight: 600;
    grid-gap: 0.5%;

}

.box {
    &-a {
        grid-area: a1;
        background: #af0;

    }
    &-b {
        grid-area: a2;
        background: #faa;
    }
    &-c {
        grid-area: a3;
        background: #aaf;
    }
}

.inner {
    width: 1000px;
    height: 1000px;
    display: grid;
    // grid-template-columns: 1fr 1fr 2fr 2fr;
    // grid-template-rows: 25% 25% 30% auto 20%;
    // grid-template-columns: 1fr ;
    // grid-template-rows: 1fr;
    // grid-auto-rows: 1fr 2fr;
    // grid-auto-columns: 1fr 3fr;
    outline: 2px solid red;
    &-2 {
        width: 800px;
        height: 800px;
        margin-top: 100px;
        display: grid;
        grid-gap: 10px;
        grid-auto-columns: 1fr;
        grid-auto-rows: 2fr;
        border: 2px solid red;
    }
    &-3 {
        width: 800px;
        height: 500px;
        margin-top: 100px;
        display: grid;
        grid-gap: 10px;        
        grid-auto-rows: 2fr 1fr;
        grid-auto-columns: 1fr 2fr;
        // grid-auto-flow: column;
        outline: 2px solid red;
    }
}

.list {
    font-size: 2rem;
    &-a {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        background: rgba(#633ba0, 0.8) ;
    }
    &-b {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
        background: rgba(#b85151, 0.8);
        z-index: 1;
    }
    
    &-c {
        grid-column: 2 / 4;
        // grid-column: 2 / span 4;
        grid-row: 2 / 5;
        background: rgba(#74edc3, 0.8);
    }
    &-d {
        grid-column: 2 / -1;
        grid-row: 1 / 4;
        background: rgba(128, 128, 201, 0.8);
        
    }

    &-w {
        background: #fc9f78cc;
        grid-column: 1/2;
        grid-row: 1/2
    }
    &-x {
        background: #fc9f78cc;
        grid-column: 2/3;
        grid-row: 2/3
    }
    &-y {
        background: #fc9f78cc;
        grid-column: 3/4;
        grid-row: 3/4
    }
    &-z {
        background: #fc9f78cc;
        grid-column: 4/5;
        grid-row: 4/5
    }

    &-e {
        background: #ffd13acc;
        
    }
    &-f {

        background: #ffd13acc;
        
    }
    &-g {

        background: #ffd13acc;
        
    }
    &-h {

        background: #ffd13acc;
        
    }
    &-i {

        background: #ffd13acc;
        
    }
    &-j {

        background: #ffd13acc;
        
    }
    &-k {

        background: #ffd13acc;
        
    }
    &-l {

        background: #ffd13acc;
        
    }


}