html {
    font-size: 14px;
}

.container {
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    outline: 6px solid #000;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 8fr;
    grid-template-rows: 25% 25% 25% auto;
    grid-template-areas: 
    "b2 b3 b3 b3 b3"
    "b2 b3 b3 b3 b3"
    "b2 b3 b3 b3 b3"
    "b1 b1 b1 b1 b4";
    //錯誤的
    // grid-template-areas: 
    // "b1 b1 b1 b1"
    // "b2 b3 b3 b3"
    // "b2 b3 b3 b3"
    // "b2 b3 b3 b3";
    font-size: 2rem;
    font-weight: 600;
    grid-gap: 1rem;
}
.item {
    outline: 0.25rem solid rgb(50, 50, 255);
    &-a {
        grid-area: b1;
        background: #fa0;
        
    }
    &-b {
        grid-area: b2;
        background: #0fa;
    }
    &-c {
        grid-area: b3;
        background: #a0f;
    }
    &-d {
        grid-area: b4;
        background: #a00;
    }
}



.content {
    box-sizing: border-box;
    margin-top: 10vh;
    width: 100%;
    height: 800px;
    outline: 6px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% auto;
    grid-template-areas: 
    "a2 a2 a2 a2"
    ".  .  .  ."
    "a1 a1 a3 a3"
    "a1 a1 a3 a3";
    font-size: 2rem;
    font-weight: 600;
    grid-gap: 0.5%;

}

.box {
    &-a {
        grid-area: a1;
        background: #af0;

    }
    &-b {
        grid-area: a2;
        background: #faa;
    }
    &-c {
        grid-area: a3;
        background: #aaf;
    }
}